.body{
    background: #212121;
}
.header{
    background: #1c1c1c;
    margin-top: 0;
}
.logo{
    font-style:italic;
    font-size: 60px;
    margin-top: 0;
    color: darkgray;
}
.header-items{
    text-align: center;
}
.body-items{
    color: darkgray;
    font-size: 20px;
    text-align: justify;
    margin: 10px;
}
.boder-items{
    display: grid;
    grid-template-columns: 40fr 60fr;
    margin-top: 10px;
}

.image_1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
footer .main-footer{
    padding: 20px 0;
    background: #252525;
}
footer ul{
    padding-left: 0;
    list-style: none;
}
.footer-copyright {
    background: #222;
    padding: 5px 0;
}
.footer-copyright .logo {
    display: inherit;
}
.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}
.widget{
    padding: 20px;
    margin-bottom: 40px;
}
.typo-light div,
.typo-light span,
.typo-light small{
    color: #fff;
}
ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}
ul.social-footer2 li a {
    display: block;
    height:30px;width: 30px;
    text-align: center;
}
.btn{
    background-color: #ff8d1e;
    color:#fff;
}
.btn:hover, .btn:focus, .btn.active {
    background: #4b92dc;
    color: #fff;
}